<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
    <form method="post" action="/booktest/postTest2">
       用户名:<input type="text" name="uname" /><br>
       密码:<input type="text" name="upwd"/><br>
       性别:<input type="radio" name="ugender" value="男" checked="checked">男
            <input type="radio" name="ugender" value="女">女<br>

       爱好:<input type="checkbox" name="uhobby" value="胸口碎大石">胸口碎大石

            <input type="checkbox" name="uhobby" value="抽烟、喝酒、烫头">抽烟喝酒烫烫
            <input type="checkbox" name="uhobby" value="盗墓">盗墓
            <br>
            <input type="submit" value="提交" />

    </form>
</body>
</html>
